<div *ngIf="notification" class="alert-container">
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-bell-ringing"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /><path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727" /><path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727" /></svg>
        <p>Ah empezado {{ notification }}</p>
    </div>
</div>

<div class="containerAppCalendar">
    <div class="left-top"><app-crud></app-crud></div>
    <div class="left-bottom"><app-notifications/></div>
    <div class="right"><app-calendar /></div>
    <div class="extra"></div>
</div>
<router-outlet />